@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2><br />
    School
    </h2>
    <br/>
    <br/>
    <p>Mira Model School founded on May 1, 1972 is an independent, coeducational, senior secondary day school affiliated to the CBSE and set up by Oberoi Education Society (regd.). Mira Model School aims to prepare our students to be healthy, responsible and informed adults who will play an active role improving the world they will inherit and protect the rich and varied cultural heritage of the country. The school has been a pioneer in innovative educational practices.</p>
    
    <center><iframe width="560" height="315" src="//www.youtube.com/embed/-kfGyHww9rU" frameborder="0" allowfullscreen></iframe></center>
    <h2><br /><br /><br />@ViewBag.Message</h2>
    <h2><br /><br />Tanuj Ahuja</h2>
    <br />
    <center><iframe width="560" height="315" src="//www.youtube.com/embed/2o9f6cn2vlk" frameborder="0" allowfullscreen></iframe></center>
    <h2><br /><br />Yogesh Madaan</h2>
    <br />
    <center><iframe width="560" height="315" src="//www.youtube.com/embed/fnudCtdjL70" frameborder="0" allowfullscreen></iframe></center>
</hgroup>

