<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/stylee.css" rel="stylesheet">
    <link href="~/css/reset.css" rel="stylesheet">
  </head>
   
    
 
    <body>
        <div class='roww'><i class='icon-facebook'></i><i class='icon-twitter'></i><i class='icon-googleplus'></i><i class='icon-pinterest'></i><i class='icon-dribbble'></i></div>
    </body>
</html>